/* globals.css */

/* Import tailwind's base styles, components, utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles, e.g.: */
body {
  @apply bg-gray-50 text-gray-800;
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}



/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
